<section class="about" id="about" >
<div class="container">
<div class="row">

<h2>About</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lacus convallis, elementum turpis sed, porta urna. felis vitae justo tempor pulvinar varius eu metus vel, placerat pretium urna.</p>

<h3>Bike Tuneup Demo</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lacus convallis, elementum turpis sed varius eu metus vel.</p>

<h3>Awesome Support</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lacus convallis, elementum turpis sed varius eu metus vel.</p>

<h3>Repair &amp; Maintenance</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis lacus convallis, elementum turpis sed varius eu metus vel.</p>
</div>
</div>
</section>