<div class="container">
	<h1>About Us</h1>
	<br>
	<div class="col-md-6">
		<p>Thank you for visiting Tahir Books Shop! Whether want to decorate your thoughts or renovate your ideology about anythings, we are here to supply all your needs with wonderful books</p>
	</div>
	<div class="col-md-6">
		<%= image_tag("https://image.ibb.co/iPtT85/book.jpg", class: "img-responsive about-img") %>
		
	</div>
</div>