<div class="container">
	<h1>About Us</h1>
	<br>
	<div class="col-md-6">
		<p> Tahir Books store is the leading bookstore in Frankfurt. It provides Text Books, IT, Religious, Science, Children's, Novels, Cookbooks and Stationery.The different kind of books to recommend. Without words or categories, you can share feelings with others that share books with you. Or discover books about pictures!
All this goes with our exclusive book store in the city. There you can also set up your own personal reading room and browse for books to find them with words like hopeful, funny, romantic, and more.</p>
	</div>
	<div class="col-md-6">
		<%= image_tag("https://image.ibb.co/iPtT85/book.jpg", class: "img-responsive about-img") %>
		
	</div>
</div>