<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div>
				<h2>
					About
				</h2>
				<p>
					Lorem ipsum dolor sit amet,consectetur adipiscing elit. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phaselluslit. Nam purus nibh, lacinia non faucibus et, pharetut cursus. Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui. Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. Aliquam mi erat,
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>
				 We offer vriety of bicycle in Frankfurt.
			</h3>
			<p>
				Lorem ipsum dolor sit amet,consectetur adipiscing elit. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phaselluslit. Nam purus nibh, lacinia non faucibus et, pharetut cursus. Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui. Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. Aliquam mi erat, .
			</p>
		
		</div>
		<div class="col-md-6" >
			<h3>
				Our rent bikes are also available for different groups.
			</h3><img alt="cycle image" src="http://www.cardiffcycletours.com/wp-content/uploads/2011/05/Elyriver.jpg" width="400" height="250" />
		</div>
	</div>
</div>