<div class="container">
	<div class="panel panel-default">
	  <div class="panel-body">
	    <p>Thank you for your message! We'll get back to you as soon as possible.</p>
	  </div><!-- / panel-body -->
	</div><!-- / panel -->
</div>