<table align="center" width="80%" style="font-family: Tahoma, sans-serif";>
  <tbody>
    <tr>
      <td bgcolor="#a07741" style="padding: 0 10px; color:#efd6b6; font-size: 1.3em"><p>Thank you for your message! You wrote:</p></td>
    </tr>
    <tr style="height: 400px" bgcolor="#efd6b6">
      <td bgcolor="#efd6b6" style="padding: 10px; vertical-align: super"><p style="padding-top: 10px"><%= @message %></p></td>
    </tr>
  </tbody>
</table>