<div class="short-container">
	<h1>Editing User <%= @user.id %></h1>

	<%= render 'form', user: @user %>

	<%= link_to 'Show', @user, class: "btn btn-danger product-button" %>

	<%= link_to 'Back', users_path, class: "btn btn-danger product-button" %>
</div>