
.panel {
	margin-top: 30px;
}

.intro-img {
	margin: 20px auto;
}

.carousel-inner {
	margin: 0 auto;
	width: 80%;
}

#carousel-landing-page {
	margin: 0 auto;
}

.carousel-caption {
	bottom: -30px;
}

.carousel-label {
	color: black;
	font-size: .0001em;
}

.left,
.right {
	background: inherit !important;
}
