<!--p id="notice"><%= notice %></p-->

<div class="container-fluid">
  <h1>Products</h1>
  <h2>We present to you the best bikes from the world!</h2>
  <div class="row">
     <% @products.each do |product| %>
    <%= render product %>
  <% end %>
  </div>
</div>
<br>
<% if signed_in? && current_user.admin? %>
  <div class="new-product-button">
    <%= link_to 'New Product', new_product_path %>
  </div>
  
  <% end %>

   
</div>
  


 <%= will_paginate @products, renderer: BootstrapPagination::Rails %>